.ItemDetail {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
}

.ImgDetail {
    width: 400px;
}
.ItemDetail-image {
    text-align: center;
}
.ItemDetail-info {
    padding: 30px;
    text-align: center;
    align-items: center;
    border-radius: 99px 0px 101px 0px;
    -webkit-border-radius: 99px 0px 101px 0px;
    -moz-border-radius: 99px 0px 101px 0px;
    /* background:#63a63e; */
}

.desciptionDetail {
    font-size: 2rem;
}

.priceDetail {
    font-size: 2rem;
    color: rgb(240, 184, 35);
    font-weight: bolder;
    margin-bottom: 20px;
}

.sizeSelect {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}
.textSize {
    font-size: 1.2rem;
}

.sizeSelect {
    color: black;
}