.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin: 30px auto;
}

.price {
    color: rgb(0, 117, 252);
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
}

h3 {
    color: rgb(241, 132, 8);
}

.imgProduct {
    width: 250px;
    height: 250px;
}
