.navContainer {
     display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(2, 0, 0);
  padding: 1rem 2rem;
    background-color: rgb(240, 184, 35);
}

 span {
    font-size: 1.5rem;
  }
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

li {
    margin: 20px;
    padding: auto;
}

a {
    text-decoration: none;
    color: inherit;
}