.imgProdMini {
    height: 50px !important
}

.badgeCart {
    padding: 3px;
    margin-left: -10px;
    margin-bottom: 30px;
}

.finalPrice {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

